.row
  %h1
    =@user.name
    - if @user == current_user
      %small
        %a{:href => edit_user_path(@user)}
          .glyphicon.glyphicon-pencil
.row
  %h2 Games run by #{@user.name}
  - @user.games.each do |game|
    .col-md-3
      %a.thumbnail{:href => game_path(game)}
        %img{:alt => game.name, "src" => "#{game.cover}"}/
.row
  %h2 Recent runs by #{@user.name}
  .panel.panel-default
    %table.table.table-striped.table-hover{:style => "border-top: none;"}
      %tr{:style => "border-top: none;"}
        %td{:style => "border-top: none;"}
          %b="Game"
        %td{:style => "border-top: none;"}
          %b="Category"
        %td{:style => "border-top: none;"}
          %b="Finish time"
      - @user.runs[0,6].each do |run|
        %tr{:onclick => "document.location = '#{game_category_run_path(run.game, run.category, run)}'", :style => "cursor: pointer;"}
          %a{:href => game_category_run_path(run.game, run.category, run)}
            %td
              = run.game.name
            %td
              = run.category.name
            %td
              %a{:href => game_category_run_path(run.game, run.category, run)} #{run.time}
