%h1
  #{@run.user.name}'s #{@run.time} run
  %small
    for #{@run.game.name} #{@run.category.name}
- if @compare.present?
  %h2
    comparing with
    %i
      #{@compare.user.name}'s #{@compare.time} run
.row
  .col-md-3
    - if @game.cover.present?
      %a{:href => game_category_path(@game, @category)}
        %img.img-responsive.thumbnail{:alt => @game.name, "src" => "#{@game.cover}", :width => 350, :style => 'margin-bottom: 15px;'}/
    - else
      %a.thumbnail{:href => game_path, :style => 'height: 357px; width: 350px; font-size: 200px; text-align: center; margin-bottom: 5px; text-decoration: none;'} +
    .row{:style => 'margin-bottom: 10px;'}
      .col-md-6
        %button.btn.btn-default#download{:class => 'button', :style => 'cursor: pointer; font-size: 16px; width: 100%;', 'data-toggle' => :popover, 'data-placement' => :right, :title => 'Want an exact copy or just the route?'}
          .pull-left
            %span.glyphicon.glyphicon-download-alt
            Get splits
        #download-popover{:style => 'display: none;'}
          %a.btn.btn-primary{:type => :button, :href => @run.id.to_s + '/download'}
            .glyphicon.glyphicon-download-alt
            Exact copy
          %a.btn.btn-primary{:type => :button, :href => '#'}
            .glyphicon.glyphicon-download-alt
            Blank route
      .col-md-6
        %button.btn.btn-default#compare{:class => 'button', :style => 'cursor: pointer; font-size: 16px; width: 100%;', 'data-toggle' => :popover, 'data-placement' => :top, :title => 'Enter another run URL or numeric ID:'}
          .pull-left
            %span.glyphicon.glyphicon-stats
            Compare
        #compare-popover{:style => 'display: none;'}
          %form.form{:action => game_category_run_path(@game, @category, @run), :method => :post}
            %input{:type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token}
            .form-group
              %input.form-control{:type => :text, :size => 35, :name => :compare_id}
    .row{style: 'margin-bottom: 10px;'}
      .col-md-6
        - if @run.video_url.present?
          %a.btn.btn-default{href: @run.video_url, :style => 'cursor: pointer; font-size: 16px; width: 100%;', target: :_blank}
            .pull-left
              %span.glyphicon.glyphicon-facetime-video
              Video
      - if current_user == @run.user
        .col-md-6
          %a.btn.btn-default{:style => 'font-size: 16px; width: 100%;', :href => game_category_run_path(@game, @category, @run) + '/delete'}
            .pull-left
              %span.glyphicon.glyphicon-remove
              Delete
  .col-md-9
    - if @run.video_url.blank? && @run.user == current_user
      .alert.alert-info
        .glyphicon.glyphicon-facetime-video
        %a.alert-link{'data-toggle' => :collapse, 'data-target' => '#video_url_form', style: 'cursor: pointer;'} Add a video
        to this run to prove you're as good as you say!
        %form.form.collapse#video_url_form{action: edit_game_category_run_path(@game, @category, @run), style: 'overflow: hidden; margin-top: 10px;'}
          = token_tag form_authenticity_token
          .col-md-8
            %input.form-control{method: :post, type: :text, name: 'run[video_url]', placeholder: 'Paste a Twitch or YouTube link'}
          .col-md-4
            %button.btn.btn-success
              .glyphicon.glyphicon-ok
              Save
    - if @run.comment.blank? && @run.user == current_user
      .alert.alert-info
        .glyphicon.glyphicon-comment
        %a.alert-link{'data-toggle' => :collapse, 'data-target' => '#comment_form', style: 'cursor: pointer;'} Add a comment
        to this run if you want it to be more helpful to others!
        %form.form.collapse#comment_form{method: :post, action: edit_game_category_run_path(@game, @category, @run), style: 'overflow: hidden; margin-top: 10px;'}
          = token_tag form_authenticity_token
          .col-md-8
            %textarea.form-control{type: :text, name: 'run[comment]', placeholder: 'Add a comment'}
          .col-md-4
            %button.btn.btn-success
              .glyphicon.glyphicon-ok
              Save
    - else
      .comment{style: 'margin-bottom: 20px;'}
        = @run.comment
    %table.table.table-striped
      %tr
        %th Name
        %th Split time
        %th Run time
      - @run.splits.each do |split|
        %tr
          %td
            =split.name
          %td
            =split.best_segment
            - if @compare.present?
              - vs = @compare.splits.detect { |s| s.name == split.name }
              - if split.best_segment_seconds - vs.best_segment_seconds > 0
                %span.text-danger
                  (+#{split.best_segment_seconds - vs.best_segment_seconds})
              - elsif split.best_segment_seconds - vs.best_segment_seconds < 0
                %span.text-success
                  (#{split.best_segment_seconds - vs.best_segment_seconds})
              - else
                %span.text-muted
                  (0)
          %td
            =split.best_run
            - if @compare.present?
              - vs = @compare.splits.detect { |s| s.name == split.name }
              - if split.best_run_seconds - vs.best_run_seconds > 0
                %span.text-danger
                  (+#{split.best_run_seconds - vs.best_run_seconds})
              - elsif split.best_run_seconds - vs.best_run_seconds < 0
                %span.text-success
                  (#{split.best_run_seconds - vs.best_run_seconds})
              - else
                %span.text-muted
                  (0)
.row
  .col-md-12
    %h2
      - if @compare.present?
        Compare splits
      - else
        Other runs in this category
    - if @category.runs.where.not(id: @run.id).count == 0
      %i Sorry, nobody else runs this game/category. When they do, their splits will show up here.
    - else
      - colors = ['success', 'warning', 'danger', 'default']
      - c = 0
      - max = @category.runs.max_by(&:time_seconds).time_seconds
      .row
        .col-md-2{style: 'text-align: right;'}
          This run
        .col-md-10
          .progress
            - @run.splits.each do |split|
              .progress-bar.breakdown{:style  => 'text-align: left; padding-left: 5px; width: ' + (100*split.best_segment_seconds/max).to_s + '%;', :class => 'progress-bar-' + colors[c], 'data-toggle' => :popover, :title => split.name, 'data-trigger' => :hover, 'data-placement' => :top, 'data-content' => split.best_segment}
                %small
                  = split.name
              - c = (c + 1) % colors.length
      - @category.runs.where.not(id: @run.id).each do |run|
        - c = 0
        .row
          .col-md-2{style: 'text-align: right;'}
            = run.user.name + '\'s ' + run.time
          .col-md-10
            .progress
              - run.splits.each do |split|
                .progress-bar.breakdown{:style  => 'text-align: left; padding-left: 5px; width: ' + (100*split.best_segment_seconds/max).to_s + '%;', :class => 'progress-bar-' + colors[c], 'data-toggle' => :popover, :title => split.name, 'data-trigger' => :hover, 'data-placement' => :top, 'data-content' => split.best_segment}
                  %small
                    = split.name
                - c = (c + 1) % colors.length
      .row
        .col-md-2{style: 'border-right: 1px solid #ccc; text-align: right; padding-right: 4px; position: relative; right: -15px;'}
          0:00:00
        .col-md-10{style: 'padding-left: 0;'}
          - for interval in 1..12
            .col-md-1{style: 'border-right: 1px solid #ccc; text-align: right; padding-right: 4px;'}
              = Time.at(max/12*interval).gmtime.strftime('%-k:%M:%S')
%footer
  %br
