%h1
  #{@run.user.name}'s #{@run.time} run
  %small
    for #{@run.game.name} #{@run.category.name}
- if @compare.present?
  %h2
    comparing with
    %i
      #{@compare.user.name}'s #{@compare.time} run
.row
  .col-md-3
    - if @game.cover.present?
      %a{:href => game_category_path(@game, @category)}
        %img.img-responsive.thumbnail{:alt => @game.name, "src" => "#{@game.cover}", :width => 350, :style => 'margin-bottom: 15px;'}/
    - else
      %a.thumbnail{:href => game_path, :style => 'height: 357px; width: 350px; font-size: 200px; text-align: center; margin-bottom: 5px; text-decoration: none;'} +
    .row{:style => 'margin-bottom: 10px;'}
      .col-md-6
        %button.btn.btn-default#download{:class => 'button', :style => 'cursor: pointer; font-size: 16px; width: 100%;', 'data-toggle' => :popover, 'data-placement' => :right, 'data-html' => true, :title => 'Want an exact copy or just the route?'}
          .pull-left
            %span.glyphicon.glyphicon-download-alt
            Get splits
        #download-popover{:style => 'display: none;'}
          %a.btn.btn-primary{:type => :button, :href => '#'}
            .glyphicon.glyphicon-download-alt
            Exact copy
          %a.btn.btn-primary{:type => :button, :href => '#'}
            .glyphicon.glyphicon-download-alt
            Blank route
      .col-md-6
        %button.btn.btn-default#compare{:class => 'button', :style => 'cursor: pointer; font-size: 16px; width: 100%;', 'data-toggle' => :popover, 'data-placement' => :top, 'data-html' => true, :title => 'Enter another run URL or numeric ID:'}
          .pull-left
            %span.glyphicon.glyphicon-stats
            Compare
        #compare-popover{:style => 'display: none;'}
          %form.form{:action => game_category_run_path(@game, @category, @run), :method => :post}
            %input{:type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token}
            .form-group
              %input.form-control{:type => :text, :size => 35, :name => :compare_id}
    .row
      .col-md-6
        %button.btn.btn-default{:class => 'button', :style => 'cursor: pointer; font-size: 16px; width: 100%;'}
          .pull-left
            %span.glyphicon.glyphicon-facetime-video
            Video
  .col-md-9
    %table.table.table-striped{:style => "border-top: none;"}
      %tr{:style => "border-top: none;"}
        %th Name
        %th Split time
        %th Run time
      - @run.splits.each do |split|
        %tr
          %td
            =split.name
          %td
            =split.best_segment
            - if @compare.present?
              - vs = @compare.splits.detect { |s| s.name == split.name }
              - if split.best_segment_seconds - vs.best_segment_seconds > 0
                %span.text-danger
                  (+#{split.best_segment_seconds - vs.best_segment_seconds})
              - elsif split.best_segment_seconds - vs.best_segment_seconds < 0
                %span.text-success
                  (#{split.best_segment_seconds - vs.best_segment_seconds})
              - else
                %span.text-muted
                  (0)
          %td
            =split.best_run
            - if @compare.present?
              - vs = @compare.splits.detect { |s| s.name == split.name }
              - if split.best_run_seconds - vs.best_run_seconds > 0
                %span.text-danger
                  (+#{split.best_run_seconds - vs.best_run_seconds})
              - elsif split.best_run_seconds - vs.best_run_seconds < 0
                %span.text-success
                  (#{split.best_run_seconds - vs.best_run_seconds})
              - else
                %span.text-muted
                  (0)
.row
  .col-md-12
    %h2
      - if @compare.present?
        Compare splits
      - else
        Other runs in this category

    - if @category.runs.where.not(id: @run.id).count == 0
      %i Sorry, nobody else runs this game/category. When they do, their splits will show up here.
    - else
      %script{:src => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}", :type => "text/javascript"}
      %script{:type => "text/javascript"}
        google.setOnLoadCallback(drawChart);
        function drawChart() {
        var container = document.getElementById('stats_compare');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Run' });
        dataTable.addColumn({ type: 'string', id: 'Split' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
        - last_seg = '0, 0, 0, 0, 0, 0'
        - @run.splits.each do |split|
          [ "This run", "#{split.name}", new Date(#{last_seg}), new Date(0, 0, 0, #{split.best_run "%-k, %M, %S"}) ],
          - last_seg = '0, 0, 0, ' + split.best_run("%-k, %M, %S")
        - last_seg = '0, 0, 0, 0, 0, 0'
        - if @compare.present?
          - @compare.splits.each do |split|
            [ "#{@compare.user.name}'s #{@compare.time}", "#{split.name}", new Date(#{last_seg}), new Date(0, 0, 0, #{split.best_run "%-k, %M, %S"}) ],
            - last_seg = '0, 0, 0, ' + split.best_run("%-k, %M, %S")
        - else
          - @category.runs.where.not(id: @run.id).each do |run|
            - run.splits.each do |split|
              [ "#{run.user.name}'s #{run.time}", "#{split.name}", new Date(#{last_seg}), new Date(0, 0, 0, #{split.best_run "%-k, %M, %S"}) ],
              - last_seg = '0, 0, 0, ' + split.best_run("%-k, %M, %S")
        ]);
        var options = {
        timeline: { rowLabelStyle: {fontName: 'Arial', fontSize: 14, color: '#603913' },
        barLabelStyle: { fontName: 'Arial', fontSize: 10 } },
        avoidOverlappingGridLines: false,
        };
        chart.draw(dataTable, options);
        }
      %div{:id => "stats_compare", :style => "width: 100%; height: 180px;"}
