!!!
%html
  %head
    %title splitsdb
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "autocomplete-rails.js"
    = csrf_meta_tags
  %body
    %div#dropzone
      %nav.navbar-custom.navbar-default.navbar-static-top{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path} splitsdb
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li{:class => "#{'active' if current_page?(root_path)}"}
              %a{:href => root_path} Home
            %li{:class => "#{'active' if current_page?(games_path)}"}
              %a{:href => games_path} Browse
          %ul.nav.navbar-nav.navbar-right
            - if current_user_session
              %li{:class => "#{'active' if current_page?(user_path(current_user))}"}
                %a#user{:href => user_path(current_user), 'data-toggle' => :tooltip, :title => current_user.name, 'data-placement' => :left}
                  .glyphicon.glyphicon-user
                  = current_user.name
              %li
                %a#logout{:href => logout_path, 'data-toggle' => :tooltip, :title => "Log out", 'data-placement' => :left}
                  .glyphicon.glyphicon-log-out
                  Log out
            - else
              %li{:class => "#{'active' if current_page?(login_path) or current_page?(signup_path)}"}
                %a{:href => login_path} Log in / sign up
      .container
        - if notice
          .alert.alert-success#notice
            .glyphicon.glyphicon-heart
            = notice
        - if alert
          .alert.alert-danger#alert
            .glyphicon.glyphicon-exclamation-sign
            = alert
        = yield
      :javascript
        $('#user').tooltip();
        $('#logout').tooltip();
        $('#download').popover({
          html : true,
          container: 'body',
          content: function() {
            return $('#download-popover').html();
          }
        })
        $('#compare').popover({
          html : true,
          container: 'body',
          content: function() {
            return $('#compare-popover').html();
          }
        })
        $(document).on('click', function (e) {
          var target = $(event.target);
          if (!target.is('#download') && !target.is('#compare') && !target.is('input')) {
            $('#download-popover').siblings('#download').popover('hide');
            $('#compare-popover').siblings('#compare').popover('hide');
          }
        });
